/* estilos-globales.css */
.chart {
    -fx-padding: 10px;
}
.chart-content {
    -fx-padding: 10px;
}
.chart-bar {
    -fx-bar-fill: #3498db;
}
.chart-bar:hover {
    -fx-bar-fill: #2980b9;
}
.axis-label {
    -fx-text-fill: white;

}